<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/biaoge.css">
</head>
<body>
    <div id="box" class="box">
        <span class="span1">用户名</span><input type="text" placeholder="请输入用户名" class="input1" v-model="name1">
        <span>密码</span><input type="password" placeholder="请输入密码" class="input2" v-model="password1">  
        <span>邮箱</span><input type="text" placeholder="请输入邮箱" class="input3" v-model="postbox1">
        <div class="btn">
            <button class="add" @click="add">添加</button>
            <button class="reset" @click="reset">重置</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th >编号</th>
                    <th >姓名</th>
                    <th >密码</th>
                    <th >邮箱</th>
                    <th >操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for = "(item,index) in list">
                    <td>{{index+1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.password}}</td>
                    <td>{{item.postbox}}</td>
                    <td>
                        <button @click="del(index)">删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

<script src="../node_modules/vue/dist/vue.js"></script>
<script src="../js/biaoge.js"></script>
</html>